* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eef0f1;
    color: #171717df;
}

#content {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    z-index: 3;
    flex-shrink: 0;
}

main {
    position: relative;
    height: 100vh;
    overflow: hidden;
    perspective: 100px;
}

:root {
    --gradient-color1: rgba(255, 209, 255, 0.95);
    --gradient-color2: rgba(250, 208, 196, 0.95);
}

main::before {
    content: "";
    position: absolute;
    bottom: -120%;
    left: 50%;
    transform: translateX(-50%) scale(0.8);
    width: 1440px;
    height: 1440px;
    background: linear-gradient(0deg, var(--gradient-color1) 56.42%, var(--gradient-color2) 90.77%);
    border-radius: 50%;
    filter: blur(132px);
    z-index: -1;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.6s ease-in-out;
}

main.fade-out::before {
    opacity: 0;
}

.authorbook,
.fade-out .authorbook {
    opacity: 1;
    transition: opacity 0.6s ease-in-out;
}

.fade-out .authorbook {
    opacity: 0;
}

.details {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.quote h1 {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 120%;
    max-width: 93%;
}

.authorbook,
.instruction {
    font-family: "Chivo Mono", serif;
    font-weight: 300;
    font-style: normal;
}

.authorbook {
    font-size: 1rem;
}

.instruction {
    font-size: 0.8rem;
    opacity: 0.6;
}

a {
    text-decoration: underline;
    color: inherit;
    opacity: 0.6;
}